.home-container {
  margin-left: 10%;
  margin-right: 10%;
  background-color: black;
  height: 100vh;
}

.heading-one {
  margin-top: 0px;
  font-size: 98px;
  font-weight: 600;
  color: white;
  font-family: "Abril Fatface", "cursive";
  padding-top: 100px;
  text-align: center;
}

.heading-two {
  font-size: 28px;
  font-weight: 600;
  color: white;
  text-align: left;
  width: 700px;
}

.map-image {
  width: 700px;
  height: 300px;
  margin-right: 10%;
}
