.home-container {
  background-color: black;
  height: 100vh;
  background-image: url(../images/main.jpg);
  background-size: cover;
}

.heading-one {
  font-size: 42px;
  font-weight: 600;
  color: black;
  text-align: right;
  width: 800px;
  line-height: 70px;
  margin-top: 300px;
}
