.navbar-container {
  position: absolute;
  top: 0;
  width: 100%;
}

.logo-icon-text {
  padding-left: 5%;
  padding-top: 2%;
  font-size: 52px;
  font-weight: 500;
  font-family: "Abril Fatface", "cursive";
}

.nav-links {
  padding-right: 5%;
  padding-top: 4%;
}

.link {
  margin-left: 20px;
  font-size: 24px;
  text-decoration: none;
  color: #1a1818;
  font-weight: 500;
}
