.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: flex-end;
}

//Margins

.mr-1 {
  margin-right: 5%;
}

.ml-1 {
  margin-left: 5%;
}

.mt-1 {
  margin-top: 5%;
}

.mb-1 {
  margin-bottom: 5%;
}
